{% extends "IS/base.html" %}
{% block content %}
    <h2> Главная страница </h2>
    Общая схема работы информационной системы:
<br>Врач загружает МРТ снимок формата DICOM. DICOM – это стандарт обработки, хранения, печати и передачи информации в системах медицинской визуализации, в данном случае- МРТ снимок.
Система послойно анализирует снимок, и находит на нём сосуд. Когда весь снимок проанализирован, строится 3D-модель сосуда. Затем, система анализирует эту 3D-модель на патологии.

{% endblock %}