{% extends "IS/base.html" %}
{% load crispy_forms_tags %}
{% load permission_tags %}
{% block content %}
    {% if object_list|length != 1 %}
    <a href="{% url 'doctor-create-edit' 0 %}">
        <button type="button" class="btn btn-outline-primary">Добавить врача</button>
    </a>
    <ul class="list-group my-3">
        <li class="list-group-item list-group-item-secondary">Список врачей</li>
    {% else %}
        <p> В вашей клинике пока что нет ни одного врача. <a href="{% url 'doctor-create-edit' 0 %}">Добавить врача </a> </p>
    {% endif %}
    {% for doctor in object_list %}
        {% if doctor|has_role:'doctor'%}
        <li class="list-group-item"><a href="{% url 'doctor-create-edit' doctor.id %}">{{ doctor.first_name }} {{ doctor.last_name }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}